/* Login.module.css */
.container {
  background: #f8f8f8;
  height:fit-content;
}



.card {
  width: 40%;
  background: #fff;
  border-radius: 0.375rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  border: 1px solid #e2e8f0;
  height: 100%;
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #333;
  line-height: 1.5;
}

.form-group {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
}

.label-text {
  font-size: 0.875rem;
  font-weight: 600;
  color: #333;
}

.input-field {
  width: 100%;
  background: #f8f8f8;
  border: 5px solid #ccc;
  color: #333;
  border-radius: 20%;
  padding: 0.375rem;
}

.checkbox-group {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 5px;
}

.checkboxDiv {
  width: 1rem;
  height: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  background: #f8f8f8;
  margin-right: 0.25rem;
  margin-top: 10px;
}

.checkbox-label {
  font-size: 0.875rem;
  color: #666;
}

.forgot-password {
  font-size: 0.875rem;
  font-weight: 600;
  color: #0077b6;
  text-decoration: none;
}

.button {
  width: 100%;
  background-color: #c9dae3a1;
  color: #000000;
  font-weight: 600;
  border-radius: 0.25rem;
  padding: 0.375rem 1.5rem;
  font-size: 0.875rem;
  text-align: center;
  cursor: pointer;
  border: none;
  transition: background 0.2s;
}

.button:hover {
  background: #a8c8da;
}

.sign-up-link {
  font-size: 0.875rem;
  font-weight: 600;
  color: #0077b6;
  text-decoration: none;
}
